* {
    padding: 0;
    margin: 0;
}

.main {
    background-image: url("Assits/Images/Netflix_bk.jpg");
    background-position: center center;
    background-size: max(1800px, 100vw);
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;

}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    position: absolute;
    top: 0;
    background-color: black;


}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;


}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;

}

nav button{
    position: relative;
    z-index: 10;
}

.hero{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    
}